/*Clearing out browser default style, here the star means all tags, so we are getting rid of extra margin, padding, and weird box stuff for all tags*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Animation rules (set for all browsers)*/
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/*Mobile and Global First*/

body, html {
    height: 100%;
}

header {
    background-color: black;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.site-logo {
    width: 80%;
    height: auto;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: #ed8f8c;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

body {
    font-family: 'Tahoma';
}

/*
h1 {
    text-align: center;
    border-bottom: 10px solid darkgray;
    margin-bottom: 20px;
    padding-bottom: 10px;
}*/

.menu-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5em;
}
  
.menu {
    font-size: 14px;
    margin: 40px;

    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}
  
.menu-heading {
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 0.08em;

    text-align: center;
    font-size: 38px;
    /*border-bottom: 2px solid #ccc;*/
}

.menu-group-heading {
    margin: 0;
    padding-bottom: 0.5em;
    border-bottom: 2px solid #ccc;
}
  
.menu-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    padding: 1.5em 0;
}
  
.menu-item {
    display: flex;
}
  
.menu-item-img {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 1.5em;
}
  
.menu-item-text {
    flex-grow: 1;
}
  
.menu-item-heading {
    display: flex;
    justify-content: space-between;
    margin: 0;
}
  
.menu-item-name {
    margin-right: 1.5em;
}
  
.menu-item-desc {
    line-height: 1.5;
    padding-right: 100px;
}

footer address {
    background-color: black;
    color: white;
    padding: 20px;
	text-align: center;
}

@media (max-width:768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: black;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 2;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
        
    }
}

@media only screen and (min-width: 481px) {
    .menu {
        font-size: 16px;
      }
    
      .menu-group {
        grid-template-columns: repeat(2, 1fr);
      }
    
      .menu-item-img {
        width: 125px;
        height: 125px;
      }
}